<section class="admin-dashboard-index">

  <header class="page-header">
    <h1>Admin &raquo; Dashboard</h1>
  </header>

  <div class="panel panel-default dashboard">

    <table class="table table-bordered">
      <thead>
        <tr>
          <th>List Name</th>
          <th>Total</th>
        </tr>
      </thead>
      <tbody>
      <tr>
        <th><%= link_to 'Product List',  [:admin, :products] %></th>
        <th><%= @productcount %></th>
      </tr>
      <tr>
        <th><%= link_to 'Category List',  [:admin, :categories] %></th>
        <th><%= @categorycount %></th>
      </tr>
      </tbody>
    </table>

  </div>

</section>
